main {
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form__input {
  box-sizing: border-box;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  margin-bottom: 15px;
  text-indent: 5px;
}

.form__button {
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  grid-column: 1 / -1;
}
