main {
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form__input {
  box-sizing: border-box;
  height: 100%;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  margin-bottom: 15px;
  text-indent: 5px;
}

.form__button {
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  grid-column: 1 / -1;
}

.meme {
  position: relative;
}

.meme__image {
  max-width: 100%;
  border-radius: 3px;
}

.meme__text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
